html {
  scroll-padding-top: 80px; /* Adjust this value to match your navbar height */
  scroll-behavior: smooth;
  /* overflow-x: hidden; */
}
body {
  margin: 0;
  overflow-x: hidden;
}
body,
html {
  position: relative;
}
.navbar.sticky-top {
  position: sticky !important;
  top: 0;
  z-index: 1020;
}
.navbar {
  /* background: #fa1679; */
  /* background-color: #696969; */
  background: radial-gradient(circle, #696969 0%, #a9a9a9 100%);
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
    rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}
.navbar-brand {
  font-family: "Dancing Script", cursive;
  font-weight: 500;
}
.nav-link {
  font-family: "Lexend", sans-serif;
  font-optical-sizing: auto;
  color: #ad5f7b;
  font-weight: bold;
}
.nav-link:hover {
  color: black;
}
.head-name {
  letter-spacing: 1px;
  font-family: "Vollkorn", serif;
}
.nav-item {
  padding: 4px;
}
#home {
  height: 75vh;
  /* background: linear-gradient(to bottom, white, #DCDCDC); */
  background: linear-gradient(to bottom, white, #dcdcdc);
  height: 100vh;
  /* background-image: url(https://cdn.pixabay.com/photo/2025/07/11/16/38/landscape-9709190_1280.jpg); */
  /* background: radial-gradient(to bottom,#696969 0%, #A9A9A9 100%); */
  background-size: cover;
  background-repeat: no-repeat;
}
.over {
  font-family: "Aclonica", sans-serif;
}
.pro-img {
  border-radius: 20px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px, rgb(51, 51, 51) 0px 0px 0px 3px;
}
.head-content {
  letter-spacing: 1.5px;
  text-shadow: 1px 0 1px black;
}
.body-cont {
  font-family: "Josefin Sans", sans-serif;
  font-weight: 300;
}
.body-cont-head {
  font-family: "Afacad", sans-serif;
}

.about-head {
  text-shadow: 1px 0 1px black;
}
.about-content {
  font-weight: 500;
  text-align: justify;
  font-family: "Josefin Sans", sans-serif;
}
.list-group {
  margin-left: 4vw;
}
.list-group .list-group-item {
  width: 180px;
  margin: 5px;
  border: 1px solid black;
  box-shadow: 1px 0 0.5px black;
}
.list-group .list-group-item:hover {
  transform: scale(1.2);
  box-shadow: 0 0 2px black;
  transition: all 0.1s ease-in-out;
  color: white;
  /* background-color:#696969; */
  background: radial-gradient(circle, #696969 0%, #a9a9a9 100%);
}
.img-fluid {
  border-radius: 10px;
  /* box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset; */
  box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034),
    0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06),
    0 22.3px 17.9px rgba(0, 0, 0, 0.072), 0 41.8px 33.4px rgba(0, 0, 0, 0.086),
    0 100px 80px rgba(0, 0, 0, 0.12);
}
.lead {
  text-align: justify;
}
@media (max-width: 600px) {
  html {
    overflow-x: hidden;
  }
  .lead {
    padding: 20px 10px;
    text-shadow: 1px 1px 2px rgb(86, 86, 86);
    font-size: small;
    line-height: 2.5rem;
    font-family: "Lexend", sans-serif;
    font-optical-sizing: auto;
    font-weight: bolder;
    font-style: normal;
    /* border: 1px solid black; */
    border-radius: 5px;
    background-color: #d4d4d4;
    /* box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px; */
  }
  #education,
  #about,
  #skills,
  #projects,
  #contact {
    text-align: center;
  }
}
